.Title{
  color: #7A7A79;
}

.SkillsDecription{
  display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column
}
.Center {
  display: flex;
margin-top: 20px;
flex-direction: column;

}

.SkillBox{
  display: flex;

}
